In [ ]:
# Author: Hunter Darling, MTH-496 Quiz 1 - Linear Regression

In [1]:
import numpy as np # math calculations and other matrix, vector calculations
import pandas as pd # dataframe organization
import seaborn as sns # for plotting
import matplotlib.pyplot as plt # for plotting
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import LabelEncoder

In [39]:
# load training data
df_train = pd.read_csv('data/nyc_sales_training.csv')
# load test data
df_test = pd.read_csv('data/nyc_sales_test.csv')

In [3]:
df_train.head()

,BOROUGH,NEIGHBORHOOD,BUILDING_CLASS_CAT,TAX_CLASS,BLOCK,LOT,EASE-MENT,BUILDING_CLASS,ADDRESS,APARTMENT_NUM,...,RESIDENTIAL_UNITS,COMMERCIAL_UNITS,TOTAL_UNITS,LAND_SQUARE_FEET,GROSS_SQUARE_FEET,YEAR_BUILT,TAX_CLASS_AT_TIME_OF_SALE,BUILDING_CLASS_AT_TIME_OF_SALE,SALE_PRICE,SALE_DATE
0,3,BENSONHURST,02 TWO FAMILY DWELLINGS,1,6201,18,,B3,1426 73RD STREET,,...,2,0,2,3000.0,1478.0,1925,1,B3,0.0,5/3/2017 0:00
1,1,ROOSEVELT ISLAND,17 CONDO COOPS,2,1373,1901,,R9,"551 MAIN STREET, RES",,...,0,0,0,NaN,NaN,1975,2,R9,786315.0,12/12/2016 0:00
2,2,RIVERDALE,10 COOPS - ELEVATOR APARTMENTS,2,5920,510,,D4,"679 WEST 239TH STREET, 6H",,...,0,0,0,0.0,0.0,1960,2,D4,309000.0,12/29/2016 0:00
3,1,UPPER EAST SIDE (59-79),10 COOPS - ELEVATOR APARTMENTS,2,1421,1,,D4,"201 EAST 66 STREET, 2N",,...,0,0,0,NaN,NaN,1961,2,D4,575000.0,11/7/2016 0:00
4,1,HARLEM-CENTRAL,07 RENTALS - WALKUP APARTMENTS,2B,1949,59,,C5,358 WEST 123 STREET,,...,9,0,9,1615.0,2973.0,1900,2,C5,1193000.0,11/8/2016 0:00

In [5]:
df_test.head()

,BOROUGH,NEIGHBORHOOD,BUILDING_CLASS_CAT,TAX_CLASS,BLOCK,LOT,EASE-MENT,BUILDING_CLASS,ADDRESS,APARTMENT_NUM,ZIPCODE,RESIDENTIAL_UNITS,COMMERCIAL_UNITS,TOTAL_UNITS,LAND_SQUARE_FEET,GROSS_SQUARE_FEET,YEAR_BUILT,TAX_CLASS_AT_TIME_OF_SALE,BUILDING_CLASS_AT_TIME_OF_SALE,SALE_DATE
0,2,CITY ISLAND,29 COMMERCIAL GARAGES,4,5634,1,,G7,499 CITY ISLAND AVE,,10464,0,0,0,17910.0,0.0,0,4,G7,5/16/2017 0:00
1,1,GRAMERCY,10 COOPS - ELEVATOR APARTMENTS,2,877,42,,D4,"39 GRAMERCY PARK NORTH, 10D",,10010,0,0,0,NaN,NaN,1956,2,D4,5/16/2017 0:00
2,1,CIVIC CENTER,13 CONDOS - ELEVATOR APARTMENTS,2,134,1475,,R4,25 MURRAY STREET,9C,10007,1,0,1,NaN,NaN,1930,2,R4,5/12/2017 0:00
3,1,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,797,1805,,R4,151 WEST 21ST STREET,2C,10011,1,0,1,NaN,NaN,2012,2,R4,4/27/2017 0:00
4,2,MORRISANIA/LONGWOOD,03 THREE FAMILY DWELLINGS,1,2724,218,,C0,988 FOX STREET,,10459,3,0,3,3702.0,3024.0,1995,1,C0,9/9/2016 0:00

In [7]:
df_train.shape

(17509, 21)

In [8]:
df_test.shape

(8624, 20)

In [40]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17509 entries, 0 to 17508
Data columns (total 21 columns):
BOROUGH                           17509 non-null int64
NEIGHBORHOOD                      17509 non-null object
BUILDING_CLASS_CAT                17509 non-null object
TAX_CLASS                         17509 non-null object
BLOCK                             17509 non-null int64
LOT                               17509 non-null int64
EASE-MENT                         17509 non-null object
BUILDING_CLASS                    17509 non-null object
ADDRESS                           17509 non-null object
APARTMENT_NUM                     17509 non-null object
ZIPCODE                           17509 non-null int64
RESIDENTIAL_UNITS                 17509 non-null int64
COMMERCIAL_UNITS                  17509 non-null int64
TOTAL_UNITS                       17509 non-null int64
LAND_SQUARE_FEET                  8509 non-null float64
GROSS_SQUARE_FEET                 8485 non-null float64
YEAR_BUILT                        17509 non-null int64
TAX_CLASS_AT_TIME_OF_SALE         17509 non-null int64
BUILDING_CLASS_AT_TIME_OF_SALE    17509 non-null object
SALE_PRICE                        17509 non-null float64
SALE_DATE                         17509 non-null object
dtypes: float64(3), int64(9), object(9)
memory usage: 2.8+ MB

In [41]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8624 entries, 0 to 8623
Data columns (total 20 columns):
BOROUGH                           8624 non-null int64
NEIGHBORHOOD                      8624 non-null object
BUILDING_CLASS_CAT                8624 non-null object
TAX_CLASS                         8624 non-null object
BLOCK                             8624 non-null int64
LOT                               8624 non-null int64
EASE-MENT                         8624 non-null object
BUILDING_CLASS                    8624 non-null object
ADDRESS                           8624 non-null object
APARTMENT_NUM                     8624 non-null object
ZIPCODE                           8624 non-null int64
RESIDENTIAL_UNITS                 8624 non-null int64
COMMERCIAL_UNITS                  8624 non-null int64
TOTAL_UNITS                       8624 non-null int64
LAND_SQUARE_FEET                  4235 non-null float64
GROSS_SQUARE_FEET                 4219 non-null float64
YEAR_BUILT                        8624 non-null int64
TAX_CLASS_AT_TIME_OF_SALE         8624 non-null int64
BUILDING_CLASS_AT_TIME_OF_SALE    8624 non-null object
SALE_DATE                         8624 non-null object
dtypes: float64(2), int64(9), object(9)
memory usage: 1.3+ MB

In [42]:
df_train.isnull().sum()

BOROUGH                              0
NEIGHBORHOOD                         0
BUILDING_CLASS_CAT                   0
TAX_CLASS                            0
BLOCK                                0
LOT                                  0
EASE-MENT                            0
BUILDING_CLASS                       0
ADDRESS                              0
APARTMENT_NUM                        0
ZIPCODE                              0
RESIDENTIAL_UNITS                    0
COMMERCIAL_UNITS                     0
TOTAL_UNITS                          0
LAND_SQUARE_FEET                  9000
GROSS_SQUARE_FEET                 9024
YEAR_BUILT                           0
TAX_CLASS_AT_TIME_OF_SALE            0
BUILDING_CLASS_AT_TIME_OF_SALE       0
SALE_PRICE                           0
SALE_DATE                            0
dtype: int64

In [61]:
df_test.isnull().sum()

BOROUGH                              0
NEIGHBORHOOD                         0
BUILDING_CLASS_CAT                   0
TAX_CLASS                            0
BLOCK                                0
LOT                                  0
EASE-MENT                            0
BUILDING_CLASS                       0
ADDRESS                              0
APARTMENT_NUM                        0
ZIPCODE                              0
RESIDENTIAL_UNITS                    0
COMMERCIAL_UNITS                     0
TOTAL_UNITS                          0
LAND_SQUARE_FEET                  4389
GROSS_SQUARE_FEET                 4405
YEAR_BUILT                           0
TAX_CLASS_AT_TIME_OF_SALE            0
BUILDING_CLASS_AT_TIME_OF_SALE       0
SALE_DATE                            0
dtype: int64

In [60]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17509 entries, 0 to 17508
Data columns (total 21 columns):
BOROUGH                           17509 non-null int64
NEIGHBORHOOD                      17509 non-null object
BUILDING_CLASS_CAT                17509 non-null object
TAX_CLASS                         17509 non-null object
BLOCK                             17509 non-null int64
LOT                               17509 non-null int64
EASE-MENT                         17509 non-null object
BUILDING_CLASS                    17509 non-null object
ADDRESS                           17509 non-null object
APARTMENT_NUM                     17509 non-null object
ZIPCODE                           17509 non-null int64
RESIDENTIAL_UNITS                 17509 non-null int64
COMMERCIAL_UNITS                  17509 non-null int64
TOTAL_UNITS                       17509 non-null int64
LAND_SQUARE_FEET                  8509 non-null float64
GROSS_SQUARE_FEET                 8485 non-null float64
YEAR_BUILT                        17509 non-null int64
TAX_CLASS_AT_TIME_OF_SALE         17509 non-null int64
BUILDING_CLASS_AT_TIME_OF_SALE    17509 non-null object
SALE_PRICE                        17509 non-null float64
SALE_DATE                         17509 non-null object
dtypes: float64(3), int64(9), object(9)
memory usage: 2.8+ MB

In [66]:
df_train_fixed = df_train.drop(['NEIGHBORHOOD','BUILDING_CLASS_CAT','TAX_CLASS','BUILDING_CLASS','EASE-MENT',
                                'ADDRESS','APARTMENT_NUM','BUILDING_CLASS_AT_TIME_OF_SALE','GROSS_SQUARE_FEET',
                                'LAND_SQUARE_FEET','SALE_PRICE','SALE_DATE'],axis=1)
df_test_fixed = df_test.drop(['NEIGHBORHOOD','BUILDING_CLASS_CAT','TAX_CLASS','BUILDING_CLASS','EASE-MENT',
                                'ADDRESS','APARTMENT_NUM','BUILDING_CLASS_AT_TIME_OF_SALE','GROSS_SQUARE_FEET',
                                'LAND_SQUARE_FEET','SALE_DATE'],axis=1)
y_train = df_train['SALE_PRICE']

In [64]:
df_train_fixed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17509 entries, 0 to 17508
Data columns (total 9 columns):
BOROUGH                      17509 non-null int64
BLOCK                        17509 non-null int64
LOT                          17509 non-null int64
ZIPCODE                      17509 non-null int64
RESIDENTIAL_UNITS            17509 non-null int64
COMMERCIAL_UNITS             17509 non-null int64
TOTAL_UNITS                  17509 non-null int64
YEAR_BUILT                   17509 non-null int64
TAX_CLASS_AT_TIME_OF_SALE    17509 non-null int64
dtypes: int64(9)
memory usage: 1.2 MB

In [68]:
df_test_fixed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8624 entries, 0 to 8623
Data columns (total 9 columns):
BOROUGH                      8624 non-null int64
BLOCK                        8624 non-null int64
LOT                          8624 non-null int64
ZIPCODE                      8624 non-null int64
RESIDENTIAL_UNITS            8624 non-null int64
COMMERCIAL_UNITS             8624 non-null int64
TOTAL_UNITS                  8624 non-null int64
YEAR_BUILT                   8624 non-null int64
TAX_CLASS_AT_TIME_OF_SALE    8624 non-null int64
dtypes: int64(9)
memory usage: 606.5 KB

In [69]:
X_train = df_train_fixed
X_test = df_test_fixed

In [70]:
y_train.size

17509

In [71]:
X_train.head()

,BOROUGH,BLOCK,LOT,ZIPCODE,RESIDENTIAL_UNITS,COMMERCIAL_UNITS,TOTAL_UNITS,YEAR_BUILT,TAX_CLASS_AT_TIME_OF_SALE
0,3,6201,18,11228,2,0,2,1925,1
1,1,1373,1901,10044,0,0,0,1975,2
2,2,5920,510,10463,0,0,0,1960,2
3,1,1421,1,10065,0,0,0,1961,2
4,1,1949,59,10027,9,0,9,1900,2

In [72]:
X_test.head()

,BOROUGH,BLOCK,LOT,ZIPCODE,RESIDENTIAL_UNITS,COMMERCIAL_UNITS,TOTAL_UNITS,YEAR_BUILT,TAX_CLASS_AT_TIME_OF_SALE
0,2,5634,1,10464,0,0,0,0,4
1,1,877,42,10010,0,0,0,1956,2
2,1,134,1475,10007,1,0,1,1930,2
3,1,797,1805,10011,1,0,1,2012,2
4,2,2724,218,10459,3,0,3,1995,1

In [31]:
reg = LinearRegression()

In [73]:
reg.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [74]:
reg.coef_

array([-1.63844329e+05, -3.16261566e+02, -2.21084663e+02, -1.89192358e+02,
        2.42175738e+06,  3.07748111e+06, -2.34791701e+06,  2.84818059e+02,
        2.14908657e+06])

In [75]:
y_pred = reg.predict(X_test)
y_pred[:10]

array([5050540.22298365, 3054600.65766058, 3039771.36362837,
       2779730.31783547,  266305.40603822,  -36135.21339771,
       3054688.14903507, 2644890.86971845, -517510.72890515,
       3204374.39864777])